[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=AR.Drone
Exec=/opt/ardrone/bin/ardrone
Icon=/usr/share/icons/hicolor/80x80/apps/ardrone80x80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
